body {
  background-color: #1a1a1a;
  
}

#root {
  color: #f9f9f9;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(19,auto);
  gap: 2rem;
}

.episode-container {
  display:flex;
  flex-direction: column;
  
  
}
.summary {
  font-family: 'Montserrat', sans-serif;
  color: lightgray;
  font-size:13px;
  margin-top:0px;
}
.title:hover {
  color:rgb(216, 30, 70);
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-bottom:0px;
}